################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/obj/Debug
/tests/bin/Debug
/tests/obj/Debug
*.user
*.suo
