################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/obj/Debug
/src/obj/Release
/tests/bin/Debug
/tests/bin/Release
/tests/obj/Debug
/tests/obj/Release
*.user
*.suo
*.snk
/.vs
